<article class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>About</h1>

            <p>
                Welcome aboard. We have started startupsinnepal.com, with an objective to list all the startups and products in Nepal.
            </p>

            <p>
                As we know startup culture is getting momentum in Nepal, there is need to strengthen and consolidate them so as to support them. We at startupsinnepal are trying to build a directory of all the startups and products in Nepal. This will help not only help startups to find what other products in their category of interest, but also to present ourselves in the world.
            </p>
            <p>
                All of us want to make the next big thing from Nepal, and for that we need funding, traction, team, customers among others. So, through this platform, we are trying to help to solve these problems. Currently startupsinnepal.com page is very basic, we are working to improve it. We conceive to make it something like romanianstartups.com, where each startup has a place where anybody can get all the relevant info about them.
            </p>

            <h2>Contact Information</h2>
            <p>If you have any queries, feel free to contact us at startupsinnepal@gmail.com</p>
        </div>
        <div class="col-md-6">
            <h2>FAQs</h2>

            <h3>1. Is this free or paid?</h3>
            <p>Getting your startup listed on startupsinnepal.com is free and always will be. Please fill the form by clicking on the link above.</p>

            <h3>2. How is the order decided?</h3>
            <p>Startups that fill more info deserve to get more attention. The order is based on the number of fields filled in the form. If more than one startup has filled the same number of fields, startups that have filled the same number of fields are shuffled.</p>

            <h3>3. What kind of startups are eligible?</h3>
            <p>We are only including tech startups for now. Once we figure out how we can make the website useful for all, we will consider adding other startups as well.</p>

            <h3>4. Who is behind this?</h3>
            <p>Startupsinnepal is an initiative of Parewa Labs, a tech startup in Kupondole, Lalitpur.</p>
        </div>
    </div>
    

   
</article>
