<div id="startup-detail" class="container">
    <div class="row">
        <div class="col-md-8">

            <div class="row">

                <div class="col-md-3 startup-detail-logo pull-left center-align">
                    <img src="{{startup['Logo URL']}}" height="{{startup['NewHeight'] || 75}}" />
                </div>

                <div class="col-md-9 startup-detail-header">
                    <h2>{{startup['Product Name']}}</h2>

                    <h4>{{startup['Product Tagline']}}</h4>
                </div>
               
               
              
            </div>

            <hr />
          
           
            

           

            <div class="row startup-row startup-label-header" ng-hide="{{startup['Pitch'] == ''}}">
                <h4><strong>Description</strong></h4>
                {{startup['Pitch']}}
            </div>

            

            <div class="row">
                <div class="col-md-4">
                    <div class="row startup-row startup-label-header" ng-hide="{{startup['Founders'] == ''}}">
                        <h4><strong>Founders</strong></h4>
                        {{startup['Founders']}}
                    </div>



                    <div class="row startup-row startup-label-header" ng-hide="{{startup['Status'] == ''}}">
                        <h4><strong>Status</strong></h4>
                        {{startup['Status']}}
                    </div>




                    <div class="row startup-row startup-label-header" ng-hide="{{startup['Funding'] == ''}}">
                        <h4><strong>Funding</strong></h4>
                        {{startup['Funding']}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row startup-row startup-label-header">
                        <h4><strong>Website</strong></h4>
                        <a target="_blank" href="{{startup['Website URL']}}">{{startup['Website URL']}}</a>
                    </div>
                   
                </div>
                <div class="col-md-4">

                    <div class="row startup-row startup-label-header">
                        <h4><strong>Address</strong></h4>
                        {{startup['Address']}}
                    </div>
              

                    <div class="row startup-row">
                        <a href="mailto:{{startup['Contact Email']}}"><img class="social-media-icon" src="images/icons/email.png" /></a>
                    </div>

                    <div class="row startup-row" ng-hide="{{startup['Phone Number'] == ''}}">
                        <img class="social-media-icon" src="../images/icons/phone.png" />
                        {{startup['Phone Number']}}
                    </div>
                </div>
            </div>
           

 

        </div>
        <div class="col-md-4">
           

            <div class="row startup-row startup-label-header">
                <h4><strong>Follow</strong></h4>
                <a href="{{startup['Link to facebook page']}}" ng-hide="{{startup['Link to facebook page'] == ''}}"><img class="social-media-icon" src="images/icons/facebook.png" /></a>
                <a href="{{startup['Link to twitter page']}}" ng-hide="{{startup['Link to twitter page'] == ''}}"><img class="social-media-icon" src="images/icons/twitter.png" /></a>
                <a href="{{startup['Link to LinkedIn page']}}" ng-hide="{{startup['Link to LinkedIn page'] == ''}}"><img class="social-media-icon" src="images/icons/linkedin.png" /></a>
            </div>

            
        </div>
    </div>
</div>